<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <!--<system.diagnostics>
    <trace useGlobalLock="false" autoflush="true" indentsize="0">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener, system version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="c:\myListener.log" />
      </listeners>
    </trace>
  </system.diagnostics>-->
  
</configuration>
